body {
  background-color: rgb(32, 31, 31);
}
.card-list {
  display: flex;
  justify-content: start;

  width: fit-content;
}

.twitter {
  margin: 0;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}

.twitter__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 700px;
}

.twitter__text-user {
  display: flex;
  gap: 40px;
}

.twitter__text-user-info {
  color: rgb(200, 192, 192);
  font-size: 20px;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  height: auto;
}

.twitter__deleteBtn {
  padding: 10px;
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: rgb(124, 126, 129);
  border-radius: 25px;
  border: 1px solid rgb(153, 148, 148);
}

.twitter__deleteBtn:hover {
  background-color: rgb(213, 214, 215);
  cursor: pointer;
}
